In [ ]:
##imported basic library to run the program 
# Imprted Pands, Numpy, Matplotlib, Seaborn, requests,json and OS
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import seaborn as sns
import requests
import time
import json
import os
from pprint import pprint

#loading the CSV file and reading 
crime_data_pd = pd.read_csv("data/crime_data.csv")

##Created Data Frame for crime_data by print first 10 rows

In [9]:
# Diplaying the Table Data  using first 10 rows with header
crime_data_pd.head(10)

,Unnamed: 0,X,REPORT_DAT,SHIFT,OFFENSE,METHOD,BLOCK,DISTRICT,PSA,WARD,...,year,month,day,hour,minute,second,EW,NS,quad,crimetype
0,1,1,8/31/2008 8:47:00 PM,EVENING,THEFT/OTHER,OTHERS,3500 - 3599 BLOCK OF R STREET NW,2.0,206.0,2,...,2008,8,31,20,47,0,West,North,Northwest,Non-Violent
1,2,2,9/1/2008 12:45:00 AM,MIDNIGHT,MOTOR VEHICLE THEFT,OTHERS,2000 - 2015 BLOCK OF O STREET NW,2.0,208.0,2,...,2008,9,1,0,45,0,West,North,Northwest,Non-Violent
2,3,3,9/1/2008 3:00:00 AM,MIDNIGHT,THEFT/OTHER,OTHERS,700 - 799 BLOCK OF 11TH STREET NW,1.0,101.0,2,...,2008,9,1,3,0,0,East,North,Northeast,Non-Violent
3,4,4,9/9/2008 7:46:00 AM,DAY,THEFT/OTHER,OTHERS,1700 - 1799 BLOCK OF P STREET NW,2.0,208.0,2,...,2008,9,9,7,46,0,West,North,Northwest,Non-Violent
4,5,5,8/24/2008 8:00:00 PM,EVENING,MOTOR VEHICLE THEFT,OTHERS,500 - 599 BLOCK OF INDIANA AVENUE NW,1.0,102.0,2,...,2008,8,24,20,0,0,East,North,Northeast,Non-Violent
5,6,6,8/24/2008 9:40:00 PM,EVENING,THEFT/OTHER,OTHERS,G STREET NW AND 12TH STREET NW,1.0,105.0,2,...,2008,8,24,21,40,0,East,North,Northeast,Non-Violent
6,7,7,8/25/2008 6:00:00 AM,MIDNIGHT,THEFT/OTHER,OTHERS,1000 - 1099 BLOCK OF 26TH STREET NW,2.0,207.0,2,...,2008,8,25,6,0,0,West,North,Northwest,Non-Violent
7,8,8,9/1/2008 1:30:00 PM,DAY,BURGLARY,OTHERS,1707 - 1799 BLOCK OF S STREET NW,3.0,301.0,2,...,2008,9,1,13,30,0,West,North,Northwest,Non-Violent
8,9,9,9/1/2008 2:00:00 PM,DAY,THEFT/OTHER,OTHERS,1300 - 1699 BLOCK OF CONNECTICUT AVENUE NW,3.0,308.0,2,...,2008,9,1,14,0,0,West,North,Northwest,Non-Violent
9,10,10,9/1/2008 5:10:00 PM,EVENING,THEFT/OTHER,OTHERS,3RD STREET SW AND MARYLAND AVENUE SW,1.0,102.0,2,...,2008,9,1,17,10,0,East,South,Southeast,Non-Violent

## Using unique function calculated total crimes and folded as dataframe

In [47]:
# Total number of "Crimes" were reported unique
crime_count = len(crime_data_pd['BLOCK'].unique().tolist())
crime_count
crime_df = pd.DataFrame([{'Total Crimes': crime_count}])
crime_df

   Total Crimes
0         17617

## showing the result of each district commited crime based on the shift base and also calculated of district average crime and displayed in the DataFrame

In [46]:
# Calculating the number of "Shifts" in each District using group by
crime_shift = crime_data_pd.groupby("DISTRICT")["SHIFT"].count()
#avg_fare = pyber_table.round(2)
#crime_data_pd.head()#
crime_shift

DISTRICT
1.0    58373
2.0    54449
3.0    57321
4.0    44906
5.0    45518
6.0    43886
7.0    38214
Name: SHIFT, dtype: int64

In [34]:
# The district average based on the Shift calculated and showing in the DataFrame and rounding the "Average" by 2 decimals
dict_average = crime_data_pd.groupby(["SHIFT"]).sum()

In [25]:
dict_average.round(2)

,Unnamed: 0,X,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,optional,year,month,day,hour,minute,second
SHIFT,,,,,,,,,,,,,,,,
DAY,168609.06,168609.06,3.67,372.64,4.45,6148.63,12611701.48,-77.01,38.91,True,2012.50,6.65,15.94,11.06,26.19,6.36
EVENING,168564.05,168564.05,3.65,370.63,4.39,6105.79,12690555.39,-77.01,38.91,True,2012.58,6.64,16.00,18.42,26.39,7.01
MIDNIGHT,183514.76,183514.76,4.00,405.64,4.59,6612.11,12651941.59,-77.00,38.90,True,2012.54,6.70,16.01,6.06,26.29,7.16

## This DataFrame displays the cleaned data based on the reporting date total

In [29]:
report_data = crime_data_pd.groupby(["REPORT_DAT"]).sum()

In [30]:
report_data

,Unnamed: 0,X,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,optional,year,month,day,hour,minute,second
REPORT_DAT,,,,,,,,,,,,,,,,
1/1/2008 10:20:00 AM,324751,324751,4.0,408.0,1,2702.0,8000248,-77.040090,38.929680,1.0,2008,1,1,10,20,0
1/1/2008 10:20:00 PM,189919,189919,1.0,107.0,6,8002.0,8000480,-76.989073,38.891205,1.0,2008,1,1,22,20,0
1/1/2008 10:39:00 AM,342322,342322,3.0,304.0,1,3700.0,8000258,-77.035310,38.923300,1.0,2008,1,1,10,39,0
1/1/2008 10:55:00 PM,209527,209527,1.0,105.0,6,10200.0,8000487,-77.023030,38.881280,1.0,2008,1,1,22,55,0
1/1/2008 11:00:00 AM,189834,189834,1.0,104.0,6,8410.0,8000259,-76.993763,38.900763,1.0,2008,1,1,11,0,0
1/1/2008 11:32:00 PM,38299,38299,2.0,208.0,2,5500.0,8000501,-77.046200,38.909636,1.0,2008,1,1,23,32,0
1/1/2008 11:40:00 AM,1188,1188,1.0,101.0,2,10100.0,8157265,-77.028857,38.903732,1.0,2008,1,1,11,40,0
1/1/2008 11:55:00 AM,293462,293462,7.0,704.0,8,7404.0,8000281,-76.986790,38.851770,1.0,2008,1,1,11,55,0
1/1/2008 12:00:00 PM,392161,392161,11.0,1109.0,12,16708.0,16000547,-153.906115,77.797368,2.0,4016,2,2,24,0,0
1/1/2008 12:41:00 PM,38204,38204,1.0,102.0,2,5800.0,8000286,-77.022953,38.902094,1.0,2008,1,1,12,41,0
1/1/2008 12:45:00 PM,293463,293463,7.0,703.0,8,7401.0,8000283,-76.999880,38.859350,1.0,2008,1,1,12,45,0
1/1/2008 12:57:00 PM,209741,209741,1.0,103.0,6,8001.0,8001123,-76.986100,38.894780,1.0,2008,1,1,12,57,0
1/1/2008 12:58:00 AM,99919,99919,4.0,401.0,4,10300.0,8000018,-77.024468,38.982123,1.0,2008,1,1,0,58,0
1/1/2008 1:13:00 PM,38205,38205,2.0,206.0,2,100.0,8000294,-77.052071,38.909646,1.0,2008,1,1,13,13,0
1/1/2008 1:30:00 PM,123187,123187,4.0,415.0,4,15301.0,16000589,-154.066546,77.812363,2.0,4016,2,2,26,60,0
1/1/2008 2:00:00 AM,111497,111497,4.0,403.0,4,2002.0,8000082,-77.028141,38.959674,1.0,2008,1,1,2,0,0
1/1/2008 2:10:00 AM,324748,324748,4.0,408.0,1,2702.0,8000099,-77.042800,38.932370,1.0,2008,1,1,2,10,0
1/1/2008 2:20:00 PM,252233,252233,6.0,605.0,7,7604.0,8000317,-76.959480,38.868910,1.0,2008,1,1,14,20,0
1/1/2008 2:40:00 PM,277838,277838,7.0,703.0,8,7406.0,8000316,-76.989730,38.855200,1.0,2008,1,1,14,40,0
1/1/2008 2:50:00 AM,61489,61489,1.0,101.0,2,5800.0,8000125,-77.024958,38.898310,1.0,2008,1,1,2,50,0
1/1/2008 2:55:00 AM,61491,61491,3.0,307.0,2,5002.0,8000140,-77.027037,38.905647,1.0,2008,1,1,2,55,0
1/1/2008 3:00:00 AM,61490,61490,2.0,208.0,2,10700.0,8000139,-77.043453,38.904700,1.0,2008,1,1,3,0,0
1/1/2008 3:00:00 PM,324752,324752,3.0,302.0,1,3000.0,8000319,-77.028500,38.927690,1.0,2008,1,1,15,0,0
1/1/2008 3:07:00 PM,342238,342238,3.0,301.0,1,3600.0,8000347,-77.029700,38.922430,1.0,2008,1,1,15,7,0
1/1/2008 3:35:00 AM,38203,38203,2.0,208.0,2,10700.0,8000115,-77.041367,38.906062,1.0,2008,1,1,3,35,0
1/1/2008 3:40:00 AM,293418,293418,7.0,701.0,8,7504.0,8000155,-76.973980,38.863530,1.0,2008,1,1,3,40,0
1/1/2008 3:40:00 PM,61595,61595,2.0,207.0,2,5500.0,8000323,-77.049977,38.902526,1.0,2008,1,1,15,40,0
1/1/2008 3:45:00 AM,342235,342235,3.0,303.0,1,4002.0,8000166,-77.041690,38.919200,1.0,2008,1,1,3,45,0
1/1/2008 3:45:00 PM,277842,277842,7.0,705.0,8,7304.0,8000342,-76.986480,38.842410,1.0,2008,1,1,15,45,0
1/1/2008 4:00:00 AM,252178,252178,6.0,602.0,7,7808.0,8000134,-76.924190,38.893810,1.0,2008,1,1,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9/9/2017 6:40:09 PM,236075,236075,6.0,603.0,7,7703.0,17156454,-76.942800,38.886510,1.0,2017,9,9,18,40,9
9/9/2017 6:55:48 AM,277415,277415,7.0,706.0,8,9700.0,17156165,-76.987810,38.832360,1.0,2017,9,9,6,55,48
9/9/2017 7:07:10 AM,235980,235980,6.0,602.0,7,9603.0,17153426,-76.948600,38.894860,1.0,2017,9,9,7,7,10
9/9/2017 7:12:42 PM,206887,206887,1.0,107.0,6,6600.0,17156368,-76.994970,38.886810,1.0,2017,9,9,19,12,42
9/9/2017 7:23:29 PM,324210,324210,4.0,409.0,1,2900.0,17150994,-77.031810,38.935290,1.0,2017,9,9,19,23,29
9/9/2017 7:26:06 AM,291632,291632,7.0,702.0,8,7502.0,17156170,-76.972590,38.856120,1.0,2017,9,9,7,26,6
9/9/2017 7:26:54 PM,291568,291568,7.0,707.0,8,10400.0,17156348,-76.996140,38.846830,1.0,2017,9,9,19,26,54
9/9/2017 7:27:38 AM,99566,99566,4.0,404.0,4,2502.0,17156179,-77.032735,38.940269,1.0,2017,9,9,7,27,38
9/9/2017 7:39:14 PM,189223,189223,3.0,308.0,6,4801.0,17156501,-77.019912,38.909103,1.0,2017,9,9,19,39,14
9/9/2017 7:41:39 PM,37412,37412,3.0,301.0,2,5201.0,17156373,-77.035536,38.912604,1.0,2017,9,9,19,41,39
9/9/2017 7:42:03 PM,110064,110064,4.0,403.0,4,2101.0,17156505,-77.024897,38.956297,1.0,2017,9,9,19,42,3
9/9/2017 7:45:57 AM,73401,73401,2.0,203.0,3,1200.0,17155580,-77.068384,38.947082,1.0,2017,9,9,7,45,57
9/9/2017 7:59:17 PM,38222,38222,2.0,208.0,2,5500.0,17401473,-77.043607,38.909927,1.0,2017,9,9,19,59,17
9/9/2017 8:01:32 AM,236014,236014,6.0,603.0,7,9603.0,17156185,-76.950980,38.892670,1.0,2017,9,9,8,1,32
9/9/2017 8:14:53 PM,277424,277424,7.0,706.0,8,9801.0,17156397,-76.993230,38.833020,1.0,2017,9,9,20,14,53
9/9/2017 8:22:56 AM,206989,206989,1.0,105.0,6,6400.0,17156188,-77.012930,38.870740,1.0,2017,9,9,8,22,56
9/9/2017 8:25:45 PM,277466,277466,7.0,703.0,8,7401.0,17156495,-76.996790,38.857650,1.0,2017,9,9,20,25,45
9/9/2017 8:27:30 PM,206888,206888,5.0,507.0,6,7901.0,17156529,-76.976990,38.898990,1.0,2017,9,9,20,27,30
9/9/2017 8:32:21 PM,73385,73385,2.0,204.0,3,300.0,17156527,-77.072292,38.921505,1.0,2017,9,9,20,32,21
9/9/2017 8:32:47 PM,189224,189224,1.0,106.0,6,7200.0,17156530,-77.000058,38.876476,1.0,2017,9,9,20,32,47
9/9/2017 8:43:28 AM,236015,236015,6.0,606.0,7,7603.0,17156198,-76.965840,38.860310,1.0,2017,9,9,8,43,28
9/9/2017 8:54:51 AM,58829,58829,2.0,208.0,2,4100.0,17156184,-77.049821,38.911121,1.0,2017,9,9,8,54,51
9/9/2017 8:55:25 PM,324223,324223,3.0,305.0,1,4400.0,17156543,-77.028090,38.916280,1.0,2017,9,9,20,55,25
9/9/2017 9:02:56 AM,340252,340252,3.0,302.0,1,2802.0,17156201,-77.034090,38.927420,1.0,2017,9,9,9,2,56
9/9/2017 9:12:13 AM,139348,139348,5.0,504.0,5,9102.0,17156204,-76.993150,38.922212,1.0,2017,9,9,9,12,13
9/9/2017 9:14:49 PM,277467,277467,7.0,701.0,8,7605.0,17156550,-76.975410,38.867480,1.0,2017,9,9,21,14,49
9/9/2017 9:25:10 PM,189153,189153,5.0,501.0,6,10600.0,17156403,-77.004473,38.905636,1.0,2017,9,9,21,25,10
9/9/2017 9:37:13 PM,99602,99602,4.0,405.0,4,2202.0,17156567,-77.008791,38.949327,1.0,2017,9,9,21,37,13
9/9/2017 9:38:27 PM,58771,58771,2.0,206.0,2,202.0,17156575,-77.066951,38.906779,1.0,2017,9,9,21,38,27
9/9/2017 9:46:46 AM,206990,206990,1.0,107.0,6,7100.0,17156206,-76.989280,38.881850,1.0,2017,9,9,9,46,46

## The Number of Criminal Case Numbers results by group and unique

In [36]:
# Finding the Criminal case Numbers and showing in the DataFrame
CCN_count = len((crime_data_pd['CCN'].unique().tolist()))

In [37]:
CCN_count

342766

In [44]:
#Dataframe shows number of criminal case numbers
crime_CCN = crime_data_pd.groupby(["CCN"]).sum()
crime_CCN.head(15)

,Unnamed: 0,X,DISTRICT,PSA,WARD,CENSUS_TRACT,XBLOCK,YBLOCK,optional,year,month,day,hour,minute,second
CCN,,,,,,,,,,,,,,,
100060,156274,156274,5.0,506.0,5,11100.0,-76.975116,38.917282,1.0,2010,7,16,14,0,0
162302,209304,209304,1.0,104.0,6,10600.0,-76.999520,38.904680,1.0,2009,11,12,18,0,0
174072,342166,342166,3.0,305.0,1,3500.0,-77.022950,38.917240,1.0,2009,12,6,23,30,0
1020310,209305,209305,1.0,107.0,6,6500.0,-76.997330,38.885130,1.0,2016,2,9,13,46,39
2001387,342167,342167,3.0,306.0,1,3500.0,-77.021910,38.919490,1.0,2009,10,20,8,59,0
2111617,209306,209306,1.0,107.0,6,8302.0,-76.997560,38.894380,1.0,2017,2,6,20,11,14
4104147,209307,209307,1.0,105.0,6,6400.0,-77.012180,38.871390,1.0,2013,4,16,0,0,0
4147180,209308,209308,1.0,107.0,6,8100.0,-76.994360,38.891480,1.0,2008,10,24,0,0,0
4172632,156328,156328,5.0,502.0,5,9301.0,-76.988285,38.927719,1.0,2010,1,21,0,0,0
5147017,209389,209389,3.0,308.0,6,4902.0,-77.021920,38.907900,1.0,2009,10,20,9,32,0
6021842,277833,277833,7.0,702.0,8,7408.0,-76.969240,38.851740,1.0,2016,2,12,13,31,8
6080644,80443,80443,2.0,203.0,3,1200.0,-77.065951,38.948353,1.0,2016,5,20,19,4,31
6098962,252174,252174,6.0,603.0,7,7708.0,-76.957530,38.888170,1.0,2010,8,31,0,0,0
6112506,277834,277834,7.0,705.0,8,9804.0,-76.998460,38.839710,1.0,2008,9,21,10,15,0
6155556,293416,293416,7.0,701.0,8,7605.0,-76.979020,38.866890,1.0,2015,12,4,0,0,0

## The number of the crimes commited is displayed by each year,

In [40]:
# finding the list of the years of crimes using group by function
crime_year = crime_data_pd.groupby(["year"]).sum()
crime_year

,Unnamed: 0,X,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,optional,month,day,hour,minute,second
year,,,,,,,,,,,,,,,
2008,6031736316,6031736316,127277.0,12951518.0,152853,212992929.0,276951264589,-2.634300e+06,1.330858e+06,34208.0,226092,549298,445250,806549,0
2009,5005080384,5005080384,116076.0,11823985.0,138770,191242451.0,283993067024,-2.403464e+06,1.214235e+06,31210.0,202493,496426,406230,719254,0
2010,5205290056,5205290056,120610.0,12256467.0,142594,195760220.0,319048720133,-2.433236e+06,1.229286e+06,31597.0,215601,508138,419355,747351,0
2011,5575850021,5575850021,125252.0,12726335.0,148717,207383274.0,372762833436,-2.585500e+06,1.306220e+06,33574.0,230775,536840,445122,809295,0
2012,5949145747,5949145747,132847.0,13453527.0,157900,221423118.0,428399961209,-2.724924e+06,1.376663e+06,35385.0,237152,561847,462642,977006,96
2013,6273934486,6273934486,135491.0,13713928.0,161110,221793912.0,470968051552,-2.766028e+06,1.397459e+06,35919.0,242132,574677,474577,961126,0
2014,6635669108,6635669108,144096.0,14583331.0,171266,238667002.0,543079663191,-2.960767e+06,1.495908e+06,38448.0,264425,612433,510634,1024600,0
2015,6500033534,6500033534,137700.0,13938916.0,164988,231044438.0,564228048891,-2.873633e+06,1.451858e+06,37316.0,255170,597862,497910,1055505,413215
2016,6559361547,6559361547,134257.0,13595133.0,162127,229831782.0,599455925744,-2.863420e+06,1.446658e+06,37183.0,250332,594828,499106,1093578,1090251
2017,5042960079,5042960079,103656.0,10493141.0,125262,175290802.0,479358331282,-2.158277e+06,1.090428e+06,28027.0,157843,446496,374911,821338,824500

In [45]:
# Calculating the each District crimes using group by function
crime_year = crime_data_pd.groupby(["DISTRICT"]).sum()
crime_year

,Unnamed: 0,X,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,optional,year,month,day,hour,minute,second
DISTRICT,,,,,,,,,,,,,,,
1.0,8594087012,8594087012,6449153.0,292136,427853939.0,742147895694,-4.495019e+06,2.270283e+06,58373.0,117481467,389303,936418,793312,1532513,426196
2.0,2544684583,2544684583,11194715.0,129842,219152253.0,685489372609,-4.195711e+06,2.119127e+06,54449.0,109577222,361378,860595,747263,1444814,372841
3.0,13709930090,13709930090,17426044.0,97092,235190117.0,727747344315,-4.415439e+06,2.230882e+06,57321.0,115363246,380446,912659,751133,1517922,403871
4.0,6672934859,6672934859,18152377.0,155828,156741103.0,567135510427,-3.458780e+06,1.749106e+06,44906.0,90374416,298345,713947,589893,1165362,280782
5.0,6531025596,6531025596,22885221.0,234520,393354936.0,585523617925,-3.504340e+06,1.771357e+06,45518.0,91616663,302226,730790,580631,1213103,329439
6.0,10263521360,10263521360,26513158.0,309831,369431422.0,554911367875,-3.376757e+06,1.706594e+06,43886.0,88322322,293784,705786,577729,1145856,285744
7.0,10436550129,10436550129,26915512.0,305551,322628915.0,472778067451,-2.942100e+06,1.484443e+06,38214.0,76896981,255029,615527,493265,990793,227771