In [1]:
import pandas as pd
import numpy as np

In [2]:
#loading the CSV file and reading 
crime_data_pd = pd.read_csv("dc_crime_add_vars.csv")

In [3]:
#Display column names
crime_data_pd.columns

Index(['Unnamed: 0', 'X', 'REPORT_DAT', 'SHIFT', 'OFFENSE', 'METHOD', 'BLOCK',
       'DISTRICT', 'PSA', 'WARD', 'ANC', 'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP',
       'CENSUS_TRACT', 'VOTING_PRECINCT', 'CCN', 'START_DATE', 'END_DATE',
       'XBLOCK', 'YBLOCK', 'optional', 'date', 'year', 'month', 'day', 'hour',
       'minute', 'second', 'EW', 'NS', 'quad', 'crimetype'],
      dtype='object')

In [4]:
#list of columns to be deleted
dr_col=["Unnamed: 0","X","REPORT_DAT","date","CENSUS_TRACT","VOTING_PRECINCT","optional","EW","NS","NEIGHBORHOOD_CLUSTER","BLOCK_GROUP"]
#delete/drop columns from above list
clean_crimeData = crime_data_pd.drop(dr_col,axis=1)

In [5]:
#rename columns
clean_crimeData.rename(columns = {"XBLOCK":"Lat", "YBLOCK":"Log"},inplace=True)

In [6]:
# Setting CCN as index
clean_crimeData.set_index("CCN", inplace=True)

In [7]:
# Replacing END_DATE with START_DATE value when END_DATE is empty
clean_crimeData.END_DATE.fillna(clean_crimeData.START_DATE, inplace=True)

In [8]:
# dropping all rows with NA values
clean_crimeData.dropna(axis=0,how='any',inplace=True)

In [9]:
clean_crimeData.count(0)

SHIFT         342603
OFFENSE       342603
METHOD        342603
BLOCK         342603
DISTRICT      342603
PSA           342603
WARD          342603
ANC           342603
START_DATE    342603
END_DATE      342603
Lat           342603
Log           342603
year          342603
month         342603
day           342603
hour          342603
minute        342603
second        342603
quad          342603
crimetype     342603
dtype: int64

In [10]:
clean_crimeData.head()

,SHIFT,OFFENSE,METHOD,BLOCK,DISTRICT,PSA,WARD,ANC,START_DATE,END_DATE,Lat,Log,year,month,day,hour,minute,second,quad,crimetype
CCN,,,,,,,,,,,,,,,,,,,,
8123749,EVENING,THEFT/OTHER,OTHERS,3500 - 3599 BLOCK OF R STREET NW,2.0,206.0,2,2E,8/30/2008 9:30:00 PM,8/31/2008 6:40:00 PM,-77.070209,38.913633,2008,8,31,20,47,0,Northwest,Non-Violent
8123824,MIDNIGHT,MOTOR VEHICLE THEFT,OTHERS,2000 - 2015 BLOCK OF O STREET NW,2.0,208.0,2,2B,8/31/2008 7:30:00 PM,8/31/2008 11:30:00 PM,-77.045323,38.908564,2008,9,1,0,45,0,Northwest,Non-Violent
8123835,MIDNIGHT,THEFT/OTHER,OTHERS,700 - 799 BLOCK OF 11TH STREET NW,1.0,101.0,2,2C,8/31/2008 11:00:00 PM,9/1/2008 2:00:00 AM,-77.027045,38.899057,2008,9,1,3,0,0,Northeast,Non-Violent
8127848,DAY,THEFT/OTHER,OTHERS,1700 - 1799 BLOCK OF P STREET NW,2.0,208.0,2,2B,9/9/2008 7:10:00 AM,9/9/2008 12:00:00 AM,-77.040089,38.909638,2008,9,9,7,46,0,Northwest,Non-Violent
8120153,EVENING,MOTOR VEHICLE THEFT,OTHERS,500 - 599 BLOCK OF INDIANA AVENUE NW,1.0,102.0,2,2C,8/5/2008 12:00:00 PM,8/5/2008 1:00:00 PM,-77.019377,38.894573,2008,8,24,20,0,0,Northeast,Non-Violent

In [11]:
clean_crimeData.to_csv("clean_crimeData.csv")